- repo: git://github.com/dnephin/pre-commit-golang
  rev: master
  hooks:
    - id: go-fmt
    - id: go-lint
    - id: validate-toml
    - id: no-go-testing
    - id: golangci-lint
    - id: go-critic
